<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="usuario.css">
    <title><%= nombre %> </title>
</head>
<body>
    <h1>Bienvenido <%= nombre %> </h1>

    <footer>
        <div>
            <h1>Informacion</h1>
            <p>Sexo: <%= sexo %> </p>
            <p>Locacion: <%= ciudad_actual %> </p>
            <p>Edad: <%= edad %> </p>
            <p>Fecha de nacimiento: <%= fecha_nacimiento %> </p>
        </div>
    </footer>
</body>
</html>